body {
    font-size: 14pt;
    margin: 0px;
    background-color: gray;
}
p {
    margin: 2px;
    border: solid, 1px, blue;
    color: black;
    text-align: left;
}
/*---AtcoderColor---*/
p strong {
    color: white;
    margin-left: 5px;
    background-color: gray;
    border:solid,1px,black;
}
iframe {
    width: 80%;
    margin-left: 100px;
}
p.day {
    color: gray;
    text-align: right;
}
h1,h2,h3 {
    margin: 2px;
    padding: 2px;
    border: solid, 1px, blue;
}
/*---div(head page foot)---*/
div.header,div.footer {
    border: solid, 1px, blue;
    background-color:wheat;
}
div.page {
    border: solid, 1px, blue;
    padding:20px;
    margin-left: 5%;
    margin-right: 5%;
    background-color: whitesmoke;
}
div.footer p.back {
    border: solid, 1px, blue;
    text-align: center;
 }
/*---プルダウンメニュー---*/
ul.dropdown-menu {
    padding-left: 1ex;
    padding-right: 1ex;
    color: black;
    display:inline-block;
}
ul.dropdown-list {
    padding-left: 1ex;
    padding-right: 1ex;
    background-color: plum;
    position:absolute;
    display:none;
}
ul.dropdown-menu:hover {
    background-color: white;
}    
ul.dropdown-menu:hover ul.dropdown-list {
    display:grid;
}
