body {
    background-color: white;
    margin-top: 0px;
    padding-left: 20%;
    padding-right: 20%;
}
h1{
    color: yellow;
    text-align: center;
}
h2,h3 {
    color: blue;
    text-align: center;
}
p {
    color: black;
    text-align: center;
}
strong {
    color: red;
}
table {
    margin-left: auto;
}
td {
    color: white;
    padding-right: 5px;
    padding-left: 5px;
}
p.day {
    color: #818181;
    text-align: right;
}
div#header {
    color: white;
    background-color: gray;
    width: 100%;
}
div#page {
    background-color: Cornsilk;
}
th.test {
    background-color: wheat;
}
th.menu-list {
    background-color: aliceblue;
}
 .menu-list:hover ul.drop-menu-list {
    visibility: visible;
}
 .drop-menu-list {
    position: absolute;
    top:10%; left: 100px;
    visibility: hidden;
    background-color: antiquewhite;
}
li.drop-menu-item {
    background-color: blue;
    text-decoration: none;
 }