body {
    font-size: 12pt;
    margin: 0px;
    background-color: gray;
}
p.battlefeild{
    position:absolute;
    margin-top:-5px;
    margin-left:500px;
    text-align: center;
    border:solid,2px,black;
    border-radius: 5%;
    width: 200px;
    height: 300px;
    background-color:white;
}
p.bench{
    margin-top:360px;
    margin-left:230px;
    position:absolute;
    border:solid,2px,black;
    text-align: center;
    border-radius: 5%;
    width: 700px;
    height: 300px;
    background-color: white;
}
p.side{
    position:absolute;
    text-align: center;
    border:solid,2px,black;
    border-radius: 5%;
    width: 220px;
    height: 650px;
    background-color: white;
}
p.deck{
    position:absolute;
    margin-left:940px;
    text-align: center;
    border:solid,2px,black;
    border-radius: 5%;
    width: 200px;
    height: 300px;
    background-color:white;
}
p.trash{
    position:absolute;
    margin-top:360px;
    margin-left:940px;
    text-align: center;
    border:solid,2px,black;
    border-radius: 5%;
    width: 200px;
    height: 300px;
    background-color:white;
}
div.player{
    margin:20%;
    margin-top:5%;
    margin-bottom:5%;
    background-color:peru;
    border:solid,2px,blue;
    width: 1150px;
    height: 700px;
    padding-left: 5px;
}
div#me{
    background-color:wheat;
}
div#enemy{
    transform: scale(1,-1);
    background-color:wheat;
}